.ad {
    width: 100%;
    background-color: $secondary-color;
    display: flex;

    &__collection {
        width: 70%;
        position: relative;
    }

    &__name {
        font-family: $secondary-font;
        font-size: 130px;
        color: white;
        line-height: 100%;
        margin-left: 150px;
        margin-top: 150px;
        margin-bottom: 100px;
    }

    &__image {
        width: 65%;
        position: absolute;
        top: 70px;
        left: 390px;
    }

    &__info {
        width: 30%;
        text-align: right;
        margin-right: 100px;
        margin-top: 50px;
        color: white;
    }

    &__title {
        font-family: $primary-font;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    &__description {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 18px;
    }
}

@media (max-width: 425px) {
    .ad {
        flex-direction: column;

        &__collection {
            width: 100%;
        }

        &__name {
            font-size: 50px;
            margin-left: 50px;
            margin-top: 60px;
            margin-bottom: 0px;
        }

        &__image {
            width: 50%;
            left: 135px;
            top: 40px;
        }

        &__info {
            width: 70%;
            margin: 20px 50px 50px auto;
        }

        &__title {
            font-size: 23px;
        }

        &__description {
            font-size: 12px;
        }
    }
}
