@mixin btnStyle($color: #454545, $bg: white) {
    background-color: $bg;
    color: $color;
    border: 0;
    font-family: $primary-font;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 24px;
}

.button {
    @include btnStyle();

    &--secondary {
        @include btnStyle(white, #515a62);
    }
}

@media (max-width: 425px) {
    .button {
        font-size: 11px;
        padding: 10px 14px;
    }
}
