.primaryButton {
    border: 0;
    background-color: white;
    font-family: $primary-font;
    font-size: 0.9em;
    font-weight: 700;
    color: $font-color;
    letter-spacing: 0.1em;
    padding: 0.8em 1.5em;
}
