.edit-add {
    display: none;

    &--show {
        display: block;
        width: 55%;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5% 10%;
        background-color: white;
        z-index: 4;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    &__two {
        display: flex;
        justify-content: space-between;

        select {
            width: 47%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

}
