.edit-add {
    display: none;

    &--show {
        display: block;
        width: 70%;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5% 5%;
        background-color: white;
        z-index: 4;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    &__two {
        display: flex;
        justify-content: space-between;

        select {
            width: 47%;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__selections {
        width: 45%;
        display: flex;
        flex-direction: column;
    }

    &__info {
        width: 45%;
        display: flex;
        flex-direction: column;
    }

    p {
        color: $font-color;
        font-family: $primary-font;
        font-weight: 500;
        margin-bottom: 20px;
    }

}
