.feature {
    background-color: white;
    display: flex;
    width: 100%;

    &__info {
        width: 50%;
        background-color: $primary-color;
        display: flex;

        &--right {
            order: 1;
        }
    }

    &__container {
        margin: auto;
        width: 66%;
        font-family: $primary-font;
        color: $font-color;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 15px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
    }

    &__image {
        width: 50%;

        img {
            display: block;
        }
    }
}
