.gallery {
    background-color: $primary-color;
}

.gallery__title {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 1.5em;
    color: $font-color;
    padding: 60px;
    margin: 0;
    text-align: center;
}
