.gallery {
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    &__arrow{
        width: 36px;
        cursor: pointer;
        align-self: center;
        margin: 0px 20px 100px 20px;
    }

    &__container{
        overflow: hidden;
        width: 75%;
        padding-bottom: 100px;
    }

    &__stripe{
        display: flex;
        transition: transform .6s ease;
    }

    &__product{
        width:29.5%;
        font-family: $primary-font;
        background-color: white;
        text-align: center;
        margin: 0px 20px;
        padding: 40px 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        p {
            color: $font-color;
            font-weight: 400;
            padding-bottom: 2px;
        }

        a {
            color: $font-color;
            font-weight: 600;
        }
    }
}

