.header {
    width: 100%;
    padding-top: 6%;

    &__nav {
        top: 0px;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }

    &__link {
        width: 10%;
        margin-left: 30px;
    }

    &__logo {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__categories {
        display: flex;
        width: 55%;
        justify-content: space-around;
        align-items: center;
    }

    &__item {
        font-family: $primary-font;
        text-decoration: none;
        color: $font-color;
        font-size: 18px;
        font-weight: 400;
    }

    &__icons {
        margin-right: 20px;
        width: 10%;
        display: flex;
        justify-content: space-around;
    }
}
