.input {
    border: none;
    outline: none;
    padding: 10px;
    font-family: $primary-font;
    color: #5c646b;
    border: 1px solid #515a62;

    &::placeholder {
        font-family: $primary-font;
        font-weight: 400;
        padding-left: 10px;
    }

}
