.products {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__remove {
        font-family: $primary-font;
        color: $font-color;
        text-decoration: underline;
        cursor: pointer;
        text-align: end;
        margin-right: 10px;
    }

    &__glasses {
        width: 300px;
        margin-bottom: 80px;

        button {
            text-align: center;
            align-self: center;
            width: 60%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__price {
        font-size: 15px;
        margin-bottom: 20px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
        text-align: center;
        color: $font-color;
    }
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .products{
        justify-content: center;
        width: 85%;

        &__glasses {
            margin-bottom: 35px;
        }
    }
}
