.section-title {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 25px;
    color: $font-color;
    padding: 60px;
    margin: 0;
    text-align: center;

    &--gray {
        background-color: $primary-color;
    }
}

@media (max-width: 425px) {
    .section-title {
        font-size: 20px;
        padding: 20px;
    }
}
