.products-banner {
    display: flex;
    align-items: flex-end;
    height: 50vh;
    background-image: url("../images/sun-banner.jpg");
    background-position: 50% 41.5%;
    background-size: cover;
    
    h1 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: white;
        font-family: $secondary-font;
        font-size: 60px;
        padding: 20px 40px;
    }
}
