@mixin backImage($bg, $heig, $bp) {
    background-image: $bg;
    height: $heig;
    background-position: $bp;
}

@mixin posTitle($pos) {
    justify-content: $pos;
}

.simple-banner {
    display: flex;
    align-items: flex-end;
    @include backImage(url("../images/sun-banner.jpg"), 50vh, 50% 91%);
    background-size: cover;

    &--optical {
        display: flex;
        align-items: flex-end;
        @include backImage(url("../images/opt-banner.jpg"), 50vh, 40% 24%);
        background-size: cover;
    }

    &--bag {
        @include backImage(url("../images/check.jpg"), 35vh, 50% 50%);
    }

    &__title {
        width: 100%;
        display: flex;
        @include posTitle(flex-end);
        color: white;
        font-family: $secondary-font;
        font-size: 60px;
        padding: 20px 40px;

        &--bag {
            @include posTitle(flex-start);
        }
    }
}

@media (max-width: 600px) {
    .simple-banner {
        @include backImage(url("../images/sun-banner.jpg"), 40vh, 50% 91%);
        align-items: flex-start;

        &--optical {
            align-items: flex-start;
            @include backImage(url("../images/opt-banner.jpg"), 40vh, 40% 2%);
        }

        &--bag {
            display: flex;
            align-items: flex-end;
            @include backImage(url("../images/check.jpg"), 30vh, 50% 50%);
        }

        &__title {
            font-size: 30px;
            padding: 20px 20px;
        }
    }
}
