@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
.header {
  width: 100%;
  padding-top: 6%;
}

.header__nav {
  top: 0px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.header__nav--hidden {
  display: none;
}

.header__burger-menu {
  display: none;
}

.header__link {
  width: 10%;
  margin-left: 30px;
}

.header__logo {
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #515a62;
  font-size: 18px;
  font-weight: 400;
}

.header__icons {
  margin-right: 20px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__iconLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__iconLink:last-child {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-left: 5px;
  color: #515a62;
}

.header__number {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 425px) {
  .header {
    padding-top: 19%;
  }
  .header__nav--hidden {
    display: block;
  }
  .header__burger-menu {
    display: block;
    width: 10%;
    margin-left: 20px;
  }
  .header__link {
    width: 30%;
    margin-left: 20px;
  }
  .header__categories {
    display: none;
  }
  .header__iconLink:first-child {
    display: none;
  }
  .header__iconLink:last-child {
    width: 55%;
    font-size: 15px;
  }
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 85vh;
  background-image: url("../images/imgBanner.png");
  background-position: 50% 35%;
  background-size: cover;
}

.banner__info {
  padding: 40px;
}

.banner__title {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 75px;
  margin: 0px;
}

.banner__subtitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin: 0px;
  padding-bottom: 15px;
}

@media (max-width: 425px) {
  .banner__info {
    padding: 35px;
  }
  .banner__title {
    font-size: 40px;
  }
  .banner__subtitle {
    font-size: 15px;
  }
}

.burger-menu {
  display: none;
}

@media (max-width: 425px) {
  .burger-menu {
    display: block;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 70%;
    background-color: #98dec8;
    z-index: 3;
    -webkit-transform: translate(-425px, 0px);
            transform: translate(-425px, 0px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .burger-menu--show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .burger-menu__close {
    width: 7%;
    margin-left: 40px;
    margin-top: 40px;
  }
  .burger-menu__user {
    height: 28%;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .burger-menu__user img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  .burger-menu__profile {
    color: white;
    font-weight: 600;
  }
  .burger-menu__categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    height: 65%;
    text-align: left;
    line-height: 400%;
    background-color: #515a62;
  }
  .burger-menu__item {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: 70px;
  }
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #515a62;
  padding: 60px;
  margin: 0;
  text-align: center;
}

.section-title--gray {
  background-color: #f2f2f2;
}

@media (max-width: 425px) {
  .section-title {
    font-size: 20px;
    padding: 20px;
  }
}

.button--primary {
  background-color: white;
  color: #454545;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 24px;
  white-space: nowrap;
  outline: none;
}

.button--primary:hover {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0px 0px 0px 1px #515a62;
          box-shadow: inset 0px 0px 0px 1px #515a62;
}

.button--secondary {
  background-color: #515a62;
  color: white;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 11px 24px;
  white-space: nowrap;
  outline: none;
}

.button--secondary:hover {
  background-color: rgba(81, 90, 98, 0.7);
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
          box-shadow: inset 0px 0px 0px 1px white;
  color: white;
}

@media (max-width: 425px) {
  .button {
    font-size: 11px;
    padding: 10px 14px;
  }
}

.gallery {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__arrow {
  width: 36px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 20px 100px 20px;
}

.gallery__container {
  overflow: hidden;
  width: 75%;
  padding-bottom: 100px;
}

.gallery__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.gallery__product {
  width: 29.5%;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  text-align: center;
  margin: 0px 20px;
  padding: 40px 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.gallery__product p {
  color: #515a62;
  font-weight: 400;
  padding-bottom: 2px;
}

.gallery__product a {
  color: #515a62;
  font-weight: 600;
}

@media (max-width: 425px) {
  .gallery__arrow {
    width: 20px;
    margin: 10px 20px 50px 20px;
  }
  .gallery__container {
    padding-bottom: 50px;
    padding-top: 10px;
  }
  .gallery__product {
    width: 90%;
    margin: 0px 10px;
    padding: 30px 0px;
  }
  .gallery__product p {
    font-size: 13px;
  }
  .gallery__product a {
    font-size: 12px;
  }
}

.ad {
  width: 100%;
  background-color: #98dec8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83vh;
}

.ad__collection {
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad__name {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 130px;
  color: white;
  line-height: 100%;
  margin-left: 150px;
}

.ad__image {
  width: 65%;
  position: absolute;
  top: 70px;
  left: 390px;
}

.ad__info {
  width: 30%;
  text-align: right;
  margin-right: 100px;
  margin-top: 50px;
  color: white;
}

.ad__title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

.ad__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 18px;
}

@media (max-width: 425px) {
  .ad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 65vh;
  }
  .ad__collection {
    width: 100%;
  }
  .ad__name {
    font-size: 50px;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .ad__image {
    width: 50%;
    left: 135px;
    top: 40px;
  }
  .ad__info {
    width: 70%;
    margin: 20px 50px 50px auto;
  }
  .ad__title {
    font-size: 23px;
  }
  .ad__description {
    font-size: 12px;
  }
}

.feature {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.feature__info {
  width: 50%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__info--right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature__container {
  margin: auto;
  width: 66%;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
}

.feature__subtitle {
  font-weight: 400;
  font-size: 15px;
}

.feature__title {
  font-weight: 600;
  font-size: 20px;
  padding: 25px 0px;
}

.feature__text {
  font-weight: 400;
  font-size: 15px;
}

.feature__image {
  width: 50%;
}

.feature__image img {
  display: block;
}

.feature__compare {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__compare img {
  display: block;
}

.feature__compare img:nth-child(2) {
  position: absolute;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  top: 0px;
}

.feature__slider {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: aqua;
  height: 0px;
  outline: none;
  width: 100%;
}

.feature__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: #ffffff;
  opacity: 0.7;
  cursor: e-resize;
}

@media (max-width: 425px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature__info {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feature__container {
    width: 85%;
    padding: 40px 0px;
  }
  .feature__image {
    width: 100%;
  }
  .feature__title {
    font-size: 15px;
    padding: 15px 0px;
  }
  .feature__subtitle {
    font-size: 12px;
  }
  .feature__text {
    font-size: 12px;
  }
  .feature__compare {
    width: 100%;
  }
}

.table {
  font-family: "Montserrat", sans-serif;
  color: #515a62;
}

.table__container {
  width: 70%;
  margin: auto;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table__title {
  border-bottom: 1px solid #515a62;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  padding-right: 50px;
  white-space: nowrap;
}

.table__title--last {
  border-bottom: none;
}

.table__info {
  border-bottom: 1px solid #515a62;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.table__info--last {
  border-bottom: none;
}

@media (max-width: 425px) {
  .table__container {
    width: 80%;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .table__title {
    padding-right: 20px;
  }
}

.newsletter {
  background-color: #98dec8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter__container {
  width: 35%;
  padding: 70px 0px;
  text-align: center;
}

.newsletter__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #515a62;
  background-color: #98dec8;
}

.newsletter__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #515a62;
  padding: 20px 0px;
}

.newsletter__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter__input {
  border: none;
  outline: none;
}

.newsletter__input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
}

.newsletter__input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
}

.newsletter__input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
}

.newsletter__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
}

@media (max-width: 425px) {
  .newsletter__container {
    width: 75%;
    padding: 40px 0px;
  }
  .newsletter__title {
    font-size: 16px;
  }
  .newsletter__description {
    font-size: 13px;
  }
  .newsletter__input {
    width: 75%;
  }
  .newsletter__input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .newsletter__input:-ms-input-placeholder {
    font-size: 12px;
  }
  .newsletter__input::-ms-input-placeholder {
    font-size: 12px;
  }
  .newsletter__input::placeholder {
    font-size: 12px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #515a62;
}

.footer__container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__block-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__block-links--side {
  display: inline-block;
  color: #515a62;
}

.footer__title {
  color: #515a62;
  font-weight: 700;
  padding-bottom: 10px;
}

.footer__link {
  text-decoration: none;
  color: #515a62;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}

.footer__link--side {
  text-decoration: none;
  margin-right: 15px;
}

@media (max-width: 425px) {
  .footer__container {
    font-size: 12px;
    width: 70%;
  }
  .footer__block-links {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .footer__block-links--side {
    padding-bottom: 20px;
  }
  .footer__block-links--side img {
    width: 20px;
  }
}

.opacity {
  display: block;
}

.opacity--show {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 425px) {
  .opacity--show {
    position: fixed;
    display: block;
    top: 0px;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.simple-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../images/sun-banner.jpg");
  height: 50vh;
  background-position: 50% 91%;
  background-size: cover;
}

.simple-banner--optical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../images/opt-banner.jpg");
  height: 50vh;
  background-position: 40% 24%;
  background-size: cover;
}

.simple-banner--bag {
  background-image: url("../images/check.jpg");
  height: 35vh;
  background-position: 50% 50%;
}

.simple-banner__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 60px;
  padding: 20px 40px;
}

.simple-banner__title--bag {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 600px) {
  .simple-banner {
    background-image: url("../images/sun-banner.jpg");
    height: 40vh;
    background-position: 50% 91%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .simple-banner--optical {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: url("../images/opt-banner.jpg");
    height: 40vh;
    background-position: 40% 2%;
  }
  .simple-banner--bag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url("../images/check.jpg");
    height: 30vh;
    background-position: 50% 50%;
  }
  .simple-banner__title {
    font-size: 30px;
    padding: 20px 20px;
  }
}

.filters {
  width: 20%;
}

.filters__group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-left: 20px;
  color: #515a62;
}

.filters__order {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Montserrat", sans-serif;
  padding: 11px 54px 11px 10px;
  background: url("../images/down.png") no-repeat;
  background-size: 7%;
  background-position: 95% 50%;
  margin-bottom: 20px;
}

.filters p {
  margin-bottom: 20px;
}

.filters h4 {
  font-family: "Montserrat", sans-serif;
  color: #515a62;
  font-weight: 500;
  border-bottom: 1px solid #515a62;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filters__label {
  margin-bottom: 10px;
  padding-right: 100px;
  vertical-align: middle;
}

.filters button {
  width: 100%;
  margin-bottom: 20px;
}

.containerP {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0px;
}

@media (max-width: 600px) {
  .containerP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filters {
    width: 85%;
  }
  .filters__group {
    margin-top: 10px;
    font-size: 12px;
  }
}

.products {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__remove {
  font-family: "Montserrat", sans-serif;
  color: #515a62;
  text-decoration: underline;
  cursor: pointer;
  text-align: end;
  margin-right: 10px;
}

.products__glasses {
  width: 300px;
  margin-bottom: 80px;
}

.products__glasses button {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
}

.products__title {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.products__price {
  font-size: 15px;
  margin-bottom: 20px;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #515a62;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
  }
  .products__glasses {
    margin-bottom: 35px;
  }
}

.edit-add {
  display: none;
}

.edit-add--show {
  display: block;
  width: 70%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5% 5%;
  background-color: white;
  z-index: 4;
}

.edit-add__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.edit-add__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-add__two select {
  width: 47%;
}

.edit-add__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-add__selections {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-add__info {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-add p {
  color: #515a62;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.input {
  border: none;
  outline: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #5c646b;
  border: 1px solid #515a62;
  margin-bottom: 20px;
}

.input--file {
  color: #515a62;
  font-family: "Montserrat", sans-serif;
}

.input--file::-webkit-file-upload-button {
  visibility: hidden;
}

.input--file::before {
  content: "Upload image";
  color: #515a62;
  display: inline-block;
  background: white;
  border: 1px solid #515a62;
  padding: 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.input--file:hover::before {
  border-color: black;
}

.input--file:active {
  outline: 0;
}

.input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 10px;
}

.input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 10px;
}

.input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 10px;
}

.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 10px;
}

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Montserrat", sans-serif;
  padding: 11px 54px 11px 10px;
  background: url("../images/down.png") no-repeat;
  background-size: 15px;
  background-position: 95% 50%;
  background-color: white;
  color: #515a62;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  height: 90vh;
  background-color: #98dec8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.form__link {
  color: #515a62;
  font-weight: 600;
}

.form h1 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.form p {
  margin-bottom: 20px;
}

.form button {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .form__info {
    width: 85%;
  }
  .form h1 {
    font-size: 25px;
  }
  .form p {
    font-size: 15px;
  }
}

.profile {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile__account {
  width: 30%;
  background-color: #98dec8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__container button {
  margin-bottom: 40px;
}

.profile__hello {
  color: white;
  font-size: 40px;
  padding: 60px 0px;
  height: 40vh;
}

.profile__hello h2 {
  font-weight: 600;
}

.profile__info {
  border: 3px solid white;
  border-radius: 20px;
  padding: 20px 60px 20px 20px;
  margin-bottom: 40px;
  color: #515a62;
}

.profile__info h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.profile__info h5 {
  font-weight: 500;
}

.profile__info p {
  margin-bottom: 20px;
}

.profile__orders {
  width: 70%;
  background-color: #f2f2f2;
}

.profile__orders h1 {
  font-size: 40px;
  color: #515a62;
  font-weight: 600;
  margin: 40px 0px;
  text-align: center;
}

.orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orders__container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.orders__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
  padding: 20px 0px;
  border-top: 1px solid #515a62;
  border-bottom: 1px solid #515a62;
}

.orders__item h4 {
  font-weight: 700;
}

@media (max-width: 600px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile__account {
    width: 100%;
  }
  .profile__hello {
    text-align: center;
    font-size: 30px;
    padding: 30px 0px;
    height: 20vh;
  }
  .profile__orders {
    width: 100%;
  }
  .profile__orders h1 {
    font-size: 30px;
    text-align: center;
  }
  .profile__info {
    padding: 10px 60px 20px 20px;
    margin-bottom: 20px;
  }
  .profile__info h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .profile__info h5 {
    font-size: 12px;
  }
  .profile__info p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .orders__item {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px;
  }
  .orders__info {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.loader {
  display: none;
}

.loader--show {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.loader__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader__container p {
  margin-top: 0px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 100px;
  color: white;
}

.loader__container img {
  width: 10%;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f2f2f2;
}

.details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.details__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100vh;
}

.details__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.details__thumbs img {
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.details__cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 20px 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.details__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
}

.details__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.details__price {
  font-size: 20px;
  margin-bottom: 20px;
}

.details__text {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .details__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details__photos {
    margin-top: 35px;
    width: 90%;
    height: 60vh;
  }
  .details__description {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .details__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .details__price {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .details__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.purchases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}

.purchases__container {
  width: 70%;
  margin: 50px 0px;
}

.purchases__container2 {
  width: 70%;
}

.purchases__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
  font-size: 18px;
  padding: 10px 0px;
  border-top: 1px solid #515a62;
  border-bottom: 1px solid #515a62;
}

.purchases__imageC {
  width: 30%;
}

.purchases__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.purchases__info strong {
  font-weight: 600;
}

.purchases__remove {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.purchases__quanC {
  width: 10%;
}

.purchases__quanC input {
  margin-top: 5px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
}

.purchases__resume {
  width: 100%;
  text-align: right;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
  font-size: 18px;
}

.purchases__resume p {
  margin: 5px 0px 20px 0px;
  font-size: 15px;
}

.purchases__resume button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 600px) {
  .purchases__imageC {
    width: 65%;
  }
  .purchases__info {
    width: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
  }
  .purchases__info p {
    margin-bottom: 5px;
  }
  .purchases__resume h4 {
    font-size: 15px;
  }
}

.checkout {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__container {
  width: 40%;
}

.checkout__titles {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
  padding: 70px 0px;
}

.checkout__titles h3 {
  font-size: 30px;
  font-weight: 500;
}

.checkout__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.checkout__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  color: #515a62;
}

.checkout__pay h4 {
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .checkout__container {
    width: 80%;
  }
  .checkout__titles {
    padding: 50px 0px;
  }
  .checkout__titles h3 {
    font-size: 20px;
  }
  .checkout__pay h4 {
    font-size: 15px;
  }
}

.feedback {
  display: none;
}

.feedback--showF {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.feedback__cont {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__container {
  width: 50%;
  height: 50%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.feedback__container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #515a62;
  margin-top: 20px;
}

.feedback__close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .feedback__container {
    width: 80%;
  }
  .feedback__container p {
    font-size: 15px;
  }
}

.success {
  display: none;
}

.success--showS {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.success__cont {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success__container {
  width: 50%;
  height: 50%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.success__container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #515a62;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .success__container {
    width: 80%;
  }
  .success__container p {
    font-size: 15px;
  }
}

.beginning {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/glassesNewPage.jpg");
  height: 88vh;
  background-position: 55% 24%;
  background-size: cover;
}

.beginning__container {
  width: 54%;
  color: white;
}

.beginning__container h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 100px;
}

.beginning__container p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}

.panel {
  height: 95vh;
  background-color: white;
  background-image: url("../images/pattern1.jpg");
  background-position: 0% 0%;
  background-size: cover;
  position: relative;
}

.panel--green {
  background-image: url("../images/pattern1.jpg");
}

.panel__model {
  width: 60%;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.panel__container {
  padding-left: 40px;
  width: 25%;
  color: white;
}

.panel__container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
}

.panel__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 25px;
}

.panel__title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 50px;
}

.panel__text {
  height: 50%;
  width: 100%;
  background-color: #ffde54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__text--green {
  background-color: #bae592;
}

.panel__bottom {
  height: 50%;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

model-viewer #reveal {
  display: none;
}

@media (max-width: 600px) {
  .beginning {
    background-image: url("../images/glassesNewPage.jpg");
    height: 40vh;
    background-position: 55% 24%;
  }
  .beginning__container {
    width: 75%;
  }
  .beginning__container h1 {
    font-size: 36px;
  }
  .beginning__container p {
    font-size: 12px;
  }
  .panel {
    height: 60vh;
  }
  .panel__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .panel__container h2 {
    font-size: 12px;
    text-align: center;
  }
  .panel__model {
    width: 70%;
    top: 91%;
    height: 211px;
    left: 50%;
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
  }
  .panel__title {
    font-size: 30px;
    text-align: center;
  }
  .panel__price {
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
  }
  .panel button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=main.css.map */