@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Barlow Condensed", sans-serif;
$font-color: #515A62;

@import 'general';
@import 'header';



