@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Barlow Condensed", sans-serif;
$font-color: #515a62;

$primary-color: #f2f2f2;
$secondary-color: #98dec8;

@import "reset";
@import "general";
@import "header";
@import "banner";
@import "button";
@import "gallery";
@import "ad";
@import "features";
@import 'newsletter';

